<!-- Affichage de la liste des passagers -->
<mat-slide-toggle [(ngModel)]="showPhotos">Show Photos</mat-slide-toggle>
<div class="container">
    <div *ngFor="let passager of passagers" class="passagers">
        <app-passager [passager]="passager" [showPhotos]="showPhotos"></app-passager>
    </div>
</div>