.vol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vol_aeroport{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vol img{
    width: 150px;
    height: auto;
}

.vol_icao,
.vol_matricule,
.vol_aeroport{
    font-size: 1.2em;
}