<!-- Affichage d'un vol -->
<div class="vol">
    @if (type == "decollages") {
        <mat-icon>flight_takeoff</mat-icon>
    } @else {
        <mat-icon>flight_land</mat-icon>
    }

    <div class="vol_icao">{{ vol.icao }}</div>
    <div class="vol_matricule">{{ vol.matricule }}</div>

    <div class="vol_aeroport">
        <div class="vol_aeroportDepart">{{ vol.aeroportDepart }}</div>
        <div class="vol_fleche">
            <mat-icon>arrow_forward</mat-icon>
        </div>
        <div class="vol_aeroportArrivee">
            @if (vol.aeroportArrivee) {
                <span>{{ vol.aeroportArrivee }}</span>
            } @else {
                <span>Inconnu</span>
            }
        </div>
    </div>

    <img [src]="vol.getLogoPath()" alt="{{ vol.compagnie }} logo">

</div>