<!-- Affichage d'un passager -->
<div class="passager">
    @if (showPhotos == true) {
        <img [src]="passager.image" alt="Photo de {{ passager.nom }}">
    }
    <p matTooltip="{{ passager.email }}">{{ passager.nom }}</p>
    <p [appClasseVol]="passager.classeVol">{{ passager.classeVol }}</p>
    <div class="bagages" [appBagages]="{ classeVol: passager.classeVol, nbBagagesSoute: passager.nbBagagesSoute }">
        <mat-icon>card_travel</mat-icon>
        <p>X{{ passager.nbBagagesSoute }}</p>
    </div>
</div>