.passager {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.bagages {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

p {
    font-size: 1.5em;
    margin: 0;
}