<div class="container">
  <div class="title"><h1>{{ type.toUpperCase() }}</h1></div>
  <div class="sections">
    <div class="left">
      <div class="top">
        <app-filtres (filtresAppliques)="appliquerFiltres($event)"></app-filtres>
      </div>
      <div class="bottom">
        <app-liste-vols [listeVols]="listeVols" (volSelectionne)="gererVolSelectionne($event)" [type]="type"></app-liste-vols>
      </div>
    </div>
    <div class="right">
      <app-liste-passagers [passagers]="passagers"></app-liste-passagers>
    </div>
  </div>
</div>
