<!-- Affichage de la liste des vols -->

<div class="container">
  @for (vol of listeVols; track vol){
    <div (click)="selectionnerVol(vol)" class="vols">
      <app-vol [vol]="vol" [type]="type"></app-vol>
    </div>
  }
</div>